
  <% if @recette.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@recette.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @recette.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
  </div>
    <% end %>

      <%= form_with(model:@recette,local: true) do |form| %>

            <p>Nom de la recette</p>
            <%= form.text_field :name %>

          <br>
          <p>Image du resultat de la recette </p>
          <%= form.text_field :recette_img %>

        <br>

            <p>De quelle pays est la reccette ?</p>
            <%= form.text_field :origin %>

          <br>

            <p>La categorie</p>
            <small>Exemple: vegan, vegetarian, desert, petit dejeuner, diner ...</small><br>
            <%= form.text_field :categorie %>

          <br>
            <p>Les ingredients</p>
            <small>Exemple: ingredient1:mesure, ingredient2:mesure</small><br>
            <%= form.text_area :ingredients , class:"ingredient_textarea"%>

          <br>
          <p>Temps de preparation</p>
          <%= form.text_field :preparation %>

          <br>

            <%= form.label :description %><br>
            <%= form.text_area :description , class:"description_textarea" %>

          <br>

            <p>Avez vous une video youtube de la preparation?</p>
            <%= form.text_field :video %>

          <br>
          <br>
            <%= form.submit :class=>"btn btn-primary"%>
      <% end %>
