<div class="header">
  <p class="logo">
    <img src="assets/logo.png" alt="logo">
    <%= link_to "KOUISINE", recettes_path %>
  </p>
</div>
<div class="fav-container">
<% if logged_in?%>
  <h3>Mes recettes favories</h3>
    <ul class="fav-meals" id="fav-meals">
      <% current_user.favorites.each do |favorite| %>
        <% @favorite = current_user.favorites.find_by(recette_id: favorite.recette.id)%>
        <li>
          <a href=<%= recette_path(favorite.recette) %>>
            <img src=<%= favorite.recette.recette_img%> alt=<%= favorite.recette.name%>>
            <span><%= favorite.recette.name%></span>
          </a>
        <%= link_to '', favorite_path(id: @favorite.id), method: :delete, class:" clear fas fa-window-close" %>
      </li>
  <% end %>
<% end %>
  </ul>
</div>
<div class="meal-container">
  <% @recettes.each do |recette|%>

      <div class="meals">
        <a href=<%= recette_path(recette) %>>
        <div class="meal-header">
          <div class="random">
            <span> <%= recette.categorie%></span>
          </div>
          <img src=<%= recette.recette_img%> alt="">
        </div>
        </a>
        <div class="meal-body">
          <div class="">
            <h4><%= recette.name %> </h4><br>
            <i class="fas fa-clock"></i> <span><%= recette.preparation %></span>
          </div>
          <div class="">
            <div class="favorite_recette">
              <% if logged_in? %>
                <% unless recette.user_id == current_user.id %>
                  <% @favorite = current_user.favorites.find_by(recette_id: recette.id)%>
                  <% if @favorite.present? %>
                      <%= link_to '', favorite_path(id: @favorite.id), method: :delete, class:"fas fa-heart fav-btn active" %>
                      <%= recette.favorites.count %>
                  <% else %>
                       <%= link_to '', favorites_path(recette_id: recette.id), method: :post , class:"fas fa-heart fav-btn" %>
                       <%= recette.favorites.count %>
                  <% end %>
                <% end %>
            <% end %>
            </div>
          </div>
      </div>
    </div>
  <% end %>
</div>
