<div class="meal">
  <div class="meal-header recette_img">
      <div class="random">
        <span> <%= @recette.categorie%></span>
      </div>
        <img src=<%= @recette.recette_img %> alt="">
        <h4><%= @recette.name %></h4>
        <p class="origin">Origine : <%= @recette.origin %></p>
        <div class="separateur"></div>
        <p class="owner_name"> Publie par :<%= @recette.user.name%></p>
        <p class="owner_name">
            <% if logged_in? && current_user.id == @recette.user_id%>
              <%= link_to "", edit_recette_path(@recette),:class=>"fas fa-feather-alt" %>
              <%= link_to "", recette_path(@recette.id), method: :delete,:class=>"fas fa-trash" %>
          <% end %>
        </p>
  </div>
    <div class="meal-body mael-details">
       <div>
                <div class="colonne1 colonne">
                    <h2>Ingrédients</h2>
                    <div class="ingredients">
                      <% if @recette.ingredients != nil %>
                        <% @tableau_des_ingredients.each do |ingredient| %>
                          <p><%= ingredient %></p>
                        <% end %>
                      <% end %>
                    </div>
                </div>
                <div class="colonne2 colonne">
                    <h2><a href="<%= @recette.video %>" target="_blank"><i class="fab fa-youtube"></i></a> Préparation </h2>
                    <table class="preparation">
                        <tr><td class="preparation_etape"><%= @recette.description %></td></tr>
                    </table>
                </div>
                <div class="colonne1 colonne">
                    <h2>Temps de preparation</h2>
                    <div class="ingredients">
                       <p><%= @recette.preparation %></p>
                    </div>
                </div>
            </div>
    </div>
</div>
