<!DOCTYPE html>
<html>
  <head>
    <title>Kouisine</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  </head>

  <body>
    <% flash.each do |key, value|%>
      <%= content_tag(:div,value,class:"alert alert-#{key}")%>
    <% end%>
    <div class="header-container">
      <div class="header-menu">
        <div class="">
          <i class="fas fa-home"></i> <%=link_to "Acceuil", recettes_path %>
          <% if logged_in? %>
          <%= link_to "Nouvelle recette", new_recette_path,class:"btn-new" %>
          <% end %>
        </div>
        <div class="">
          <% if logged_in? %>
           <%= link_to "Deconnecter", session_path(current_user.id), method: :delete %>
         <% else %>
           <%= link_to "S'incrire", new_user_path %> |
           <%= link_to "Se connecter", new_session_path %>
         <% end %>
        </div>
      </div>
    </div>

  <div class="container">
    <%= yield %>
  </div>
  <footer>
    © ︎ baroka 2021 - kouisine
  </footer>
  </body>
</html>
